
body {
    background-color: rgb(179, 213, 215);
}

.jumbotron {
    background-color: transparent;
}

.header {
    margin: 0;
    padding: 40px;
    text-align: center;
    background: rgb(105, 147, 151);
}
